{% extends 'base.html' %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">

        </div>
        <div class="col-4"></div>
    </div>
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6 border">
            <form action="" class="border mt-5" method="post">
                {% csrf_token %}
                <div class="text-center mb-3 ">
                    <label> LOGIN HERE </label>
                </div>
                {{form.as_p}}
                <div class="mb-3">
                    <button type="submit" class="btn btn-info">
                        Login Here
                    </button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}
